[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyparsing = "==3.0.8"
pytesseract = "==0.3.9"
Pillow = "==9.1.0"
opencv-python = "*"
numpy = "*"

[dev-packages]
python-dotenv = "*"
pep8 = "*"
autopep8 = "*"

[requires]
python_version = "3.10"

[scripts]
lint = 'autopep8 --in-place -r --aggressive src'
start01 = 'py ./src/01_test/main.py'
start02 = 'py ./src/02_image_preprocessing/main.py'
start03 = 'py ./src/03_game_image/main.py'
start04 = 'py ./src/04_game_video/main.py'
start05 = 'py ./src/05_template_recognition/main.py'
start06 = 'py ./src/06_game_video_template_recognition/main.py'
